*.js
*.js.map
*.log
*.ngFactory.ts
*.metadata.json
src/**/*.d.ts
demo/app/*.js
demo/*.d.ts
demo/lib
demo/hooks
demo/platforms
demo/node_modules
demo-ng/app/*.js
demo-ng/*.d.ts
demo-ng/hooks
demo-ng/lib
demo-ng/platforms
demo-ng/node_modules
src/node_modules
.vscode
.idea
angular/compiled
!src/index.d.ts
!src/angular/index.d.ts
!src/references.d.ts
!src/accordion.android.d.ts
!src/accordion.ios.d.ts
